.product__list > li {
  width: 25%;
  padding: 10px;
}

.productItem {
  display: block;
  position: relative;
  padding-top: 100%;
}

.productItem__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.productItem__content {
  padding: 20px;
  text-align: center;
  position: relative;
}

.productItem__box {
  position: absolute;
  left: 0;
  bottom: 100%;
  transform: translateY(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.productItem__box > button {
  font-size: 15px;
  padding: 5px 10px;
  line-height: 17px;
}

.productItem:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.productItem:hover .productItem__box {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.productItem__image > img {
  transition: all 0.3s ease;
}

.productItem:hover .productItem__image > img {
  transform: scale(1.2);
}

.productItem__box > * ~ * {
  margin-left: 5px;
}

.productItem__content > h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.productItem__price {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  line-height: 1;
}

.productItem__price > span {
  text-decoration: line-through;
}

.productItem__price > p {
  margin-left: 5px;
  font-size: 20px;
  color: #c0392b;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .product__list > li {
    width: 100%;
    padding: 5px;
  }
}
